:root{
    --border: 1px solid red;
}

@font-face {
    font-family: Mi Sans;
    src: url('MiSans-Normal.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mi Sans;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2rem;
    padding-inline: 2rem;
    align-items: center;
    box-shadow: 0 0.05rem 1rem 0.1rem black;
}

nav a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 1.5rem;
    height: 1.5rem;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav-content-left{
    display: flex;
    gap: 2rem;
} 

.nav-content-left > *{
    padding-block: 0.5rem;
}

.nav-content-left > *:hover{
    color: #ff6900;
    border-bottom: 1px solid #ff6900;
    transition: .2s;
}

.nav-content-right{
    margin-left: auto;
    display: flex;
    gap: 3rem;
}

.community{
    display: flex;
    gap: 2rem;
}

.community > *:hover{
    color: #ff6900;
    border-bottom: 1px solid #ff6900;
    transition: .2s;
}

.community *{
    padding-block: 0.5rem;
}

.profile{
    padding-block: 0.5rem;
}

.hero{
    width: 100%;
    height: auto;
    display: flex;
    scroll-snap-type: x mandatory;
}

.hero-img{
    height: 75vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.t-pro{
    background-image: url(Images/fb8ca1c55df9fbbda7a172b1cd71fcc2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.poco{
    background-image: url(Images/c569b9a435d3217181211911c022d6a2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.watch{
    background-image: url(Images/66c45bc1ca54647aeed026362ffd0f42.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
}

.smart-band{
    background-image: url(Images/fea02b5919fa83d5ffa4299348de41ee.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
}

/* Media queries for phones */
@media (max-width: 767px){

}

/* Media queries for tablets and ipads */
@media (min-width: 768px) and (max-width: 1023px){

}

/* Media queries for laptops */
@media (min-width: 1024px){

}